body {
    font-family: "Helvetica Neue", sans-serif;
    background-color: white;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.container {
    max-width: 1700px;
    padding: 0 15px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.d-none {
    display: none;
}

.title {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 63px;
    color: #000000;
}