$black:#131313;
$red:#ED4040;
$gray:#717171;

%hn-300{
    font-family: "Helvetica Neue";
    font-weight: 300;
}

%hn-400{
    font-family: "Helvetica Neue";
    font-weight: 400;
}

%hn-500{
    font-family: "Helvetica Neue";
    font-weight: 500;
}

%hn-700{
    font-family: "Helvetica Neue";
    font-weight: 700;
}